.features__list {
  display: flex;
}
.features__item {
  width: 270px;
}
.features__item:nth-child(n + 2) {
  margin-left: 30px;
}
.features__wrap {
  display: flex;
  height: 120px;
  background-color: var(--secondary-background);
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}
.features__title {
  margin-bottom: 10px;
  @include font(700, null, 1.1, null);
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--title-text-color);
}
